body {
    font-family: 'Ubuntu', sans-serif;
}

/* containers */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent ;
    border: 0;
    border-color: transparent;
    color: #ffffff;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover{
    color: lightgreen;
}

.navbar-default .navbar-nav .active a {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav .active a:hover {
    background-color: transparent;
    color: lightgreen;
}

.navbar-default .navbar-nav li a {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-nav li a:hover {
    background-color: transparent;
    color: lightgreen;
}

.navbar-btn {
    color: lightgreen;
}

.navbar-btn:hover {
    color: lightgreen;
    font-weight: bold;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.btn-default:hover {
    color: lightgreen;
    background-color: transparent;
    border-color: lightgreen;
    border: 2px solid;
}

.callout-container {
    background-color: lightgreen;
    height: 100vh;
    background: url(http://www.publicsectorexecutive.com/write/MediaUploads/190_House_building_hi-res_c._Rui_Vieira.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    display: flex;
    text-align: justify;
    align-items: center;
    color: white;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
}

.nav-opaque-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}



.alert-container .alert-warning {
    background-color: #ef4803;
    width: 100%;
    color: #ffffff;
}

.quotes-container {
    background-color: white;
    width: 100%;
    padding: 30px 50px;
}

.features-container {
    background-color: lightgreen;
    width: 100%;
    padding: 30px 50px;
}

.table-container {
    background-color: white;
    width: 100%;
    padding: 30px 50px;
}

.jumbotron {
    background-color: transparent;
}

.btn-light {
    border-radius: 25px;
    width: 200px;
    background-color: #55a750;
}

.btn-light:hover {
    color: #e6d7d7;
    background-color: #449a3e;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle{
    border: none;
}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 3px;
    background-color: #ff3d03;
    border-top: #ff3d03;
}